{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
    <div class="card bg-light p-5">
        {% for message in messages%}
          <div class="alert alert-{{message.tags}} alert-dismissible fad show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}

        <h2 class="text-dark">Login</h3>
        <form action="/auth/login/" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
            </div>
            <div class="form-group mb-3">
                <label for="pass1" class="form-label">Password</label>
                <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-dark">Signin</button>
            
            <br>
            <span> Forget Password? <a href="/auth/request-reset-email/">Reset</a></span>
            <br>
            <br />
            New User? <a href="/auth/signup/">Signup</a>
            <br />
            
        </form>
    </div>
{% endblock content %}

